
/* =========== navbar css =========== */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #c2b1bc;
    opacity: 0.9;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
    outline: none;
}
  .navbar-light .navbar-nav .nav-item{
    padding: 10px 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    text-align: center;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: all linear 0.5s;
    border: 2px solid transparent;
  }
  .navbar-light .navbar-nav .nav-link.active{
    color:#ffffff;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#c2b1bc;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #a395d2;
  }

  /* =========== banner ============== */
#banner{
    padding: 200px 0 270px 0;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#banner::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,rgba(194,177,188,1),rgba(194,177,188,0),rgba(194,177,188,1));
    top: 0;
    left: 0;
  }
.banner_text h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
}
.banner_text p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

/* ============ info ============ */

#info{
    padding: 100px 0;
}
.info_text h2{
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #353535;
}
.info_text p{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #353535;
}
/* ========== about css ========== */
#about{
    padding: 150px 0 100px 0;
    background-color: #a395d2;
}
.about_text h2{
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
}
.about_text h2::before{
    position: absolute;
    content: '';
    width: 170px;
    height: 3px;
    background-color: #ffd9d9;
    left: 0;
    top: 0;
}
.about_text p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.about_img{
    border: 10px solid #ffffff;
    margin-top: 100px;
    position: relative;
}
.about_overly{
    position: absolute;
    height: 95%;
    width: 95%;
    background-image: url(../images/about2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px solid #ffffff;
    top: -100px;
    left: -30px;
}

/* ========== class ===========  */
#class{
    padding: 50px 0;
}
.class_text h6{
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #a395d2;
    position: relative;
}
.class_text h6::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #4c4c4c;
    left: 0;
    bottom: -10px;
}
.class_text h2{
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #4c4c4c;
    padding-bottom: 50px;
}
.class_item{
    position: relative;
}
.class_overly{
    overflow: scroll;
    position: absolute;
    background-image: linear-gradient(#a395d2,#a395d2);
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    opacity: 0.9;
    overflow: hidden;
    transition: all linear 0.3s;
}
.class_item:hover .class_overly{
    height: 100%;
}
.class_overly h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    margin-top: 80px;
    margin-left: 30px;
    padding: 0 10px;
}

.class_overly p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 30px;
    padding: 0 10px;
}

/* ============= event ============== */

#event{
    padding: 80px 0;
    background-color: #e7e7e7;
}
.event_text h2{
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #444444;
    padding-bottom: 30px;
    position: relative;
}
.event_text h2::before{
    position: absolute;
    content: '';
    background-color: #a395d2;
    height: 3px;
    width: 100%;
    top: -25px;
    left: 0;
}
.event_item_text h2{
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #444444;
}
.event_item_text h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}
.event_item_text p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #000;
    margin-bottom: 40px;
}
.event_item_text a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #a395d2;
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: linear 0.3s;
}
.event_item_text a:hover{
    color: #a395d2;
    background-color: #ffffff;
    border: 2px solid #a395d2;
}

/* =============== gallery =============== */

#gallery{
    padding: 60px 0 100px;
}
.gallery_text p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #a395d2;
    position: relative;
}
.gallery_text p::before{
    height: 1px;
    width: 150px;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    background-color: #4c4c4c;
    transform: translateX(-50%);
}
.gallery_text h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #4c4c4c;
}
.gallery_text_btn{
    padding-bottom: 50px;
    padding-top: 20px;
}
.gallery_text_btn a{
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #a395d2;
    padding: 7px 18px;
    border-radius: 5px;
    transition: all linear 0.3s;
    border: 2px solid transparent;
}
.gallery_text_btn a:hover{
    color: #a395d2;
    background-color: #ffffff;
    border: 2px solid #a395d2;
}
.gallery_img{
    position: relative;
    padding-top: 20px;
}
.gallery_overly{
     position: absolute;
     background-image: linear-gradient(#a395d2,#a395d2);
     top: 0;
     left: 0;
     height: 0%;
     width: 100%;
     opacity: 0.9;
     overflow: hidden;
     transition: all linear 0.3s;
}
.gallery_img:hover .gallery_overly{
    height: 100%;
}
.gallery_overly i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}

/* ============contact ============= */

#contact{
    background-color: #a395d2;
    padding: 100px 0 50px 0;
}
.contact_text h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    position: relative;
    margin-bottom: 50px;
}
.contact_text h2::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 150px;
    background-color: #ffffff;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}
.no-resize {
    resize: none;
}
.contact_label{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}
.contact_button{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #a395d2;
}
.contact_info h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #252525;
    font-size: 30px;
    padding-top: 20px;
}
.contact_info_text h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #252525;
}
.contact_info_text h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #252525;
}
.contact_info_text p{
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #252525;
}
/* ================= footer ================ */
#footer{
    padding: 100px 0;
    background-color: #4c4c4c;
}
.footer_aboutus h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    padding-top: 20px;
}
.footer_aboutus p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
}
.footer_quicklinks h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    padding-top: 20px;
}
.footer_quicklinks_text a{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}
.footer_icon_text h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    padding-top: 20px;
}






.footer_icon i{
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #ffffff;
    color: #111111;
  }
/* font-family: 'Quicksand', sans-serif; */